{% extends "base.html" %}

{% block content %}



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3" style="text-align: left;">Welcome to Game Store!</h1>
        <p>"Unique things, amazing experiences and value for life!"</p>
    </div>
</div>

<article>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Get Started</h1>
                <p>If you are not already a user, please register and start browsing our game collection. All games are by other users, and if you get inspired you may also add your own game with the add game form. If you run into any problems, please do not hesitate to contact the administrators.</p>
            </div>
        </div>
    </div>
</article>

<article id="team">
    <div class="container">
        <div class="row">
            <h1>Our Team - Simple Lazy Objects</h1>
            <div class="col-sm-4">
              <img src="../static/images/cecilia.jpg" class="img-responsive img-circle"/>
              <p style="text-align: center; margin-top: 10px">Cecilia Berg<br><small>Senior Redirecter</small></p>
            </div>
            <div class="col-sm-4">
              <img src="../static/images/alexia.jpg" class="img-responsive img-circle"/>
              <p style="text-align: center; margin-top: 10px">Alexia Leimu<br><small>Chief Happiness Officer</small></p>
            </div>
            <div class="col-sm-4">
              <img src="../static/images/ilona.jpg" class="img-responsive img-circle"/>
              <p style="text-align: center; margin-top: 10px">Ilona Rahnasto<br><small>Senior Trollator</small></p>
            </div>
        </div>
    </div>
</article>

{% endblock %}
